//@import url(http://fonts.googleapis.com/css?family=Inconsolata:400,700&subset=latin,latin-ext);

markdown {
  display: block;

  &.md-small {
    height: 200px;
  }

  .editor .CodeMirror {
    font-family: Inconsolata, Source Code Pro, Consolas, Ubuntu Mono,
      Courier New, monospace;
    font-size: 15px;
    height: 100%;

    .md-highlight-source {
      background-color: rgb(100, 100, 100);
    }
  }
  .preview {
    height: 100%;
    overflow: auto;
    padding-left: 10px;
  }

  .row {
    display: flex;
    height: 100%;
  }

  @media screen and (min-width: 786px) {
    .editor, .preview {
      flex: 1;
      height: 100%;
    }
  }
}
