@keyframes show-menu {
  0% { width: 50%; height: 50px; opacity: 0; }
  100% { width: 100%; height: auto; opacity: 1; }
}

.menu-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  padding: 8px;
  transition: 0.3s;
  
  @media screen and (max-width: 400px) {
    width: 40%;
  }
  @media screen and (min-width: 401px) and (max-width: 768px) {
    width: 30%;
  }
  @media screen and (min-width: 769px) {
    width: 25%;
  }

  .menu-button {
    border: none;
    background-color: transparent;
    outline: none;
    color: $gray-dark;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px 8px 5px;
    cursor: pointer;
    border-radius: $border-radius-base-small;
    margin-left: 5px;
    transition: 0.3s;

    > svg {
      display: block;
      float: left;
      margin-top: -5px;
      margin-right: 5px;

      > path {
        fill: $gray-dark;
      }
    }

    &:hover {
      background-color: lighten($active-color, 30%);
      box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
      transition: 0.2s;
    }
    &:active, &.active {
      background-color: $active-color;
      color: white;
      > svg > path {
        fill: white;
      }
      box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
      transition: 0.1s;
    }
  }

  .menu {
    margin-top: -40px;
    padding-top: 50px;
    background-color: #ffffff;
    border-radius: $border-radius-base-small;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
    width: 100%;
    height: auto;

    &.hidden {
      opacity: 0;
      display: none;
      width: 50%;
      height: 50px;
    }
    &.showing {
      animation: show-menu 0.3s ease-in;
    }
    &.hiding {
      animation: show-menu reverse 0.3s ease-out;
    }

    .menu-item {
      display: block;
      width: 100%;
      height: 34px;
      padding: 2px 30px;
      text-decoration: none;
      line-height: 28px;
      color: $gray-darker;

      &:hover, &:active {
        background-color: $gray-light;
      }
    }
  }
}
