@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,400italic,700,700italic|Roboto+Condensed:700);

$border-radius-base-small: 3px;

$gray-lighter: #fafafa;
$gray-light: #e0e0e0;
$gray: #9e9e9e;
$gray-dark: #616161;
$gray-darker: #212121;
$text-color: $gray-darker;
$active-color: #2196F3;

* {
  box-sizing: border-box;
}

@import '_menu';
@import '_loader';

html {
  height: 100%;
  margin: 0;
}

body {
  height: 100%;
  background-color: $gray-lighter;
  margin: 0;
  font-family: Roboto, Ubuntu, Segoe UI, Helvetica Neue, sans-serif;
  font-weight: 300;
}

.main-wrapper {
  padding: 50px 15px 0;
  overflow: auto;
  width: 100%;
  height: calc(100% - 50px);
}

.card {
  border-radius: $border-radius-base-small;
  background-color: #FFFFFF;
  padding: 1rem;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);

  &.semi-transparent {
    background-color: rgba(255, 255, 255, 0.6);
  }

  .card-fill {
    margin: 0 -1rem;
  }
}
